
h1 {
  font-family: 'Lobster', cursive;
  font-weight: 700;
  font-size: 4em;
  margin-top: 50px;
}

h2, p {
  font-family: 'Lato', sans-serif;
}
/* end global styles */

.navbar-default {
  background-color: transparent;
  border: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: rgba(17, 17, 17, .5);
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
  color: #f8512f;
  background-color: rgba(17, 17, 17, .5);
}

  /* end navbar */

.jumbotron {
  background-image: url('../img/code.jpg');
  background-size: cover;
  height: 80vh;
  background-position: center;
}

.jumbotron h1 {
  color: #fff;
  padding: 3em;
  font-weight: 700;
}
  /* end jumbotron */

#story {
  height: 80vh;
}

  /* end story */

#portfolio {
  height: 80vh;
}

.thumbnail {
  background-color: rgba(17, 17, 17, .5);
  padding: 10px;
  box-shadow: 1px 4px 4px 1px #505050;
  margin-top: 1em;
  height: 25em;
  font-family: 'Lobster', cursive;
}

.thumbnail>img {
  display: block;
  height: 15em;
}

  /* end portfolio */

  #contact {
    background-color: #f8512f;
    min-height: 600px;
    color: #fff;
    padding-bottom: 50px;
  }

  #contact form {
    background-color: rgba(17, 17, 17, .5);
    border: 1px solid #fff;
    padding: 15px;
  }

  #contact .form-group span,
  #fine-print span {
    color: #ff0d06;
    font-size: 1.6em;
  }

  #contact h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1em;
  }

  /* end contact */
